<h1>Listing Pins</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Thumb</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= image_tag pin.image.url(:thumb) %></td>
        <td><%= pin.description %></td>
        <td><%= link_to 'Show', pin, class: "btn btn-info" %></td>
        <% if current_user == pin.user %>
          <td><%= link_to 'Edit', edit_pin_path(pin), class: "btn btn-warning" %></td>
          <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Pin', new_pin_path,class: "btn btn-primary btn-lg btn-block" %>
<% end %>