<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New Pin</h3>
  </div>
  <div class="panel-body">
      <%= render 'form' %>
  </div>
   <div class="panel-footer"><%= link_to 'Back', pins_path %></div>
</div>