<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Description</h3>
  </div>
  <div class="panel-body">
    <p><%= image_tag @pin.image.url(:large) %></p>
    <p><%= @pin.description %></p>
  </div>
   <div class="panel-footer">
     <% if current_user == @pin.user %>
       <%= link_to 'Edit', edit_pin_path(@pin) %> |
     <% end %>
       <%= link_to 'Back', pins_path %>
   </div>
</div>