<% if user_signed_in? %>
  <% gravatar_id = Digest::MD5.hexdigest(current_user.email.downcase) %>
  <% avatar_url = "http://gravatar.com/avatar/#{gravatar_id}.png?s=40" %>
<% end %>
<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Pinterested', root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_url %></li>
        <li><%= link_to "About", about_url %></li>
        <% if user_signed_in? %>
          <li class = 'dropdown'>
            <%= link_to pins_url, class: "dropdown-toggle", data: {toggle: 'dropdown'} do %>
              Post
              <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to 'Manage Post',pins_path %></li>
              <li><%= link_to 'New Post', new_pin_path %></li>
            </ul>
          </li>
          <li class='dropdown'>
            <%= link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do %>
            <%= image_tag avatar_url %>
            <%= current_user.email %> <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete%></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Join", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
