<div class="jumbotron">
  <h1>Welcome to my pinterested App</h1>
  <p>pretty cool, eh?</p>
  <div class="userinfo text-center">
    <% if user_signed_in? %>
      <p>Hi, <%= current_user.email %></p>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-warning' %>
    <%else%>
      <%= link_to "Login", new_user_session_path, class:"btn btn-default" %>
      <%= link_to "Join", new_user_registration_path, class:"btn btn-primary" %>
    <%end%>
  </div>
</div>