/*
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-nav{
    li{
        a{
            line-height: 3em;
            padding: 5px 10px !important;
        }
    }
}