<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'home/header' %>
<div class="container">
<div class="div_notice">
  <% flash.each do |name,msg| %>
    <%= content_tag(:div, msg, class: 'alert alert-info') %>
  <% end %>
</div>
  <%= yield %>
</div>

</body>
</html>
